<h1>RemindMe</h1>

<br>
<% if current_user %> <a href="/logout">Logout</a> <br>
    <br>
    You are logged in as <%= current_user["email"] %>
<% end %>

<br>


<% if current_user %>  <br>

    <% @events.each_with_index do |f, i| %>
        <div id="main">
          <% if created_by(f.user_id) == current_user["email"] %>
              <h2> Reminder: <%= f.name %> <br></h2>
              <%= f.day %> at
              <%= f.time.strftime("%H:%M") %>
              <br><br>

              <div id="message"> Message: <%= f.suggest %> </div>
              <div id="venue"> Phone Number: <%= f.place %></div>
              <% f.comment if not nil %>
              <br>
              created by <%= created_by(f.user_id) %>

              <a href="/delete">Delete this Reminder</a>
              <br> <br>
              <br>
              <a href="/events/new">Create a new message</a> <br>
              <br> <br>

          <% end %>
        </div>
        <% if flash[:message] %>
            <b><%= flash[:message] %></b>
        <% end %>



    <% end %>




<% else %>
    <a href="/login">Login</a> <br>
<% end %>


<br>
<a href="/users/new">Sign Up</a>
<br> <br><br>