

Add new Event here.
You are logged in as <%= current_user["email"] %>
<br>
<a href ="/logout">Logout</a>
<br>
<br>

<% if flash[:message] %>
    <b><%= flash[:message] %></b>
<% end %>

<%= form_for @event do |f| %>

    <%= f.label :Name_of_the_event %>
    <%= f.text_field :name %>
    <br><br>

    <%= f.label :day %>
    <%= f.date_field :day %>
    <br><br>
    <%= f.label :time %>
    <%= f.text_field :time %>
    <br><br>

    <%= f.label :place %>
    <%= f.text_field :place %>
    <br><br>

    <%= f.label :suggest %>
    <%= f.text_field :suggest %>
    <br><br>


    <%= f.label :comment %>
    <%= f.text_field :comment %>
    <br><br>



    <%= f.submit 'Create Event' %>

<% end %>
<br> <br>
Invite people to an Event
<br>

<%= form_for @event do |f| %>

    <%= f.label :email %>
    <%= f.text_field :day %>
    <br>

    <%= f.submit 'Invite People' %>

<% end %>