You are logged in as <%= current_user["email"] %>  <a href ="/logout">Logout</a>
<br> <br>
<a href ="/">Home</a>
<br> <br>
Add new Reminders here.
<br>

<br>
<% if flash[:message] %>
    <b><%= flash[:message] %></b>
<% end %>

<%= form_for @event do |f| %>

    <%= f.label :Name_of_the_event %>
    <%= f.text_field :name %>
    <br><br>

    <%= f.label :Date %>
     <%= date_select :day, "day" %>

    <br><br>
    <%= f.label :time %>
    <!--<%= f.text_field(:time, :placeholder => "Enter time..eg. 5:30PM", :class => "textareastyle") %>-->
    <%= time_select :time, "time" %>
    <br><br>

    <%= f.label :phone %>
    <%= f.text_field :place %>
    <br><br>

    <%= f.label :message %>
    <%= f.text_field :suggest %>
    <br><br>


    <%= f.label :comment %>
    <%= f.text_field :comment %>
    <br><br>



    <%= f.submit 'Create Message' %>

<% end %>
<br> <br>
<!--Invite people to an Event-->
<!--<br>-->

<!--<%= form_for @event do |f| %>-->

    <!--<%= f.label :email %>-->
    <!--<%= f.text_field :day %>-->
    <!--<br>-->

    <!--<%= f.submit 'Invite People' %>-->

<!--<% end %>-->